* {
  margin: 0;
  outline: none;
  border: none;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body,
html {
    background: linear-gradient(#304352,#d7d2cc);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.App {
    background-color: #fff;
  max-height: 90vh;
  border-radius: 4px;
  max-width: 60vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-height: 100%;
  padding: 20px;
  box-shadow: 0px 1px 23px 6px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 1px 23px 6px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 23px 6px rgba(0, 0, 0, 0.5);
}
.selectArea{
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.selectArea select{
    border-radius: 4px;
    border: 1px solid #aaa;
    padding: 5px 10px;
}
.cat-img {
  height: 400px;
}
.list{
    display: flex;
    align-items: center;
    width: 100%;
}
.list .cat-description{
    display: flex;
    align-items: center;
    justify-content:space-between ;
    
}
.list .cat-description li{
    margin:20px;
}
.thumb {
  height: 20px;
  outline: none;
  border: none;
}
.carousel-slider {
  border-radius: 4px;
}
.carousel-status {
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  margin: 5px;
}
.cat-description {
  font-size: 17px;
  line-height: 1.5;
  padding: 5px 10px;
  margin-bottom: 15px;
}
